body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #f2f9fe;
}

canvas {
	z-index: -100;
	position: absolute;
	display: block;
	height: 50%;
	transition: all 0.5s;
}
